input {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.container{
    border: 2px solid black;
    width: 20%;
    margin: 0 auto;
    color: white;
    background-color: black;
    border-radius: 20px;
}